.font {
    font-size: 6rem;
}

.crimson {
    font-family: 'Crimson Pro';
}

.libre {
    font-family: 'Libre Caslon Text';
}

.questrial {
    font-family: 'Questrial';
}

.tiro-bangla {
    font-family: 'Tiro Bangla';
}

.urbanist {
    font-family: 'Urbanist';
}